@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

header {
    width: 100%;
}

header h1 {
    font-size: 35px;
}

section {
    background: linear-gradient(45deg, rgb(0, 0, 59), rgba(143, 0, 148, 0.753));
    height: 350px;
    width: 500px;
    border-radius: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 15px 10px hsla(0, 0%, 0%, 0.429);
    text-shadow: 1px 5px 35px rgb(0, 146, 204);
}

.alinhamento {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-interno {
    background-color: hsl(0, 56%, 4%);
    margin-top: 50px;
    width: 30%;
    height: 50%;
    border-radius: 35px 0 35px 0;
    ;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.429);
    color: hsl(120, 100%, 24%);
    flex-direction: column;
}

.box-main {
    height: 80%;
    width: 100%;
}

.box-interno h2,
.divisao h2 {
    font-size: 80px;
}

.divisao {
    margin-top: 50px;
}

.saudadacao {
    height: 20%;
    width: 100%;
}

footer h1 {
    position: relative;
    font-size: 18px;
    color: rgb(180, 180, 180);
    top: 140px;
}